/* news_edit */

#canvas_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.slide_bar_container {
    display: flex;
    justify-content: center;
}

.slide_bar_of_scaling {
    height: 5px;
    border-radius: 6px;
    background-color: #c7c7c7;
}