#####
# Environment
#####


#####
# Django
#####
DOORKEEPER_API_TOKEN=
SECRET_KEY=

# select mode (production)
DJANGO_SETTINGS_MODULE=homepage.settings.production
# select mode (development)
#DJANGO_SETTINGS_MODULE=homepage.settings.develop

#####
# Postgres
#####
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#####
# Nginx
#####
DOMAIN=

#####
# Staticfiles and media
#####
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=