<div class="menu">
    <section class="nav-section">
        {% load static %}
        <a href="{% url 'top:index' %}">
            <h1 class="header-logo"><img src="{% static '/images/logo.png' %}" alt="top"></h1>
        </a>
        <nav class="gnav">
            <ul class="gnav-list">
                <li><a href="{% url 'about:index' %}">About</a></li>
                <li><a href="{% url 'message:index' %}">Message</a></li>
                <li><a href="{% url 'news:index' %}">News</a></li>
                <li><a href="{% url 'events:index' %}">Events</a></li>
                <li><a href="{% url 'services:index' %}">Services</a></li>
                <li><a href="{% url 'contact:faq_index' %}">FAQ</a></li>
                <li><a href="{% url 'contact:index' %}">Contact</a></li>
            </ul>
        </nav>
    </section>
</div>