/* news_edit */

input[type="text"], button, textarea, select {
    margin: 0;
    padding: 0;


    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    border:solid 1px #ccc;
    width:300px;

    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


}

.canvas_container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 30px 0 30px;
    background: linear-gradient(#0097FF, #1E00FF);
    border: solid #eee;
    box-sizing: border-box;
    overflow: scroll;
}

.canvas {
    position: absolute;
}

.trim_canvas_container {
    display: flex;
    justify-content: center;
}

.trimming_canvas {
    margin-bottom: 30px;
    border: solid 1px #f00;
    box-sizing: border-box;
}

.slide_bar_container {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.slide_bar_of_scaling {
    height: 5px;
    border-radius: 6px;
    background-color: #c7c7c7;
}

.fields-wrap {
    display: flex;
    align-items: center;
    width: 1120px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.fields-title {
    width: 150px;
    font-size:1.3em;
}

.fields-wrap input[type="text"] {
    width: 500px;
}

.fields-wrap textarea {
    width: 800px;
}

.fields-wrap select {
    width: 500px;
}

.fields-wrap input[type="checkbox"] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
	-moz-transform:		scale(2.0);
	-webkit-transform:	scale(2.0);
	transform:		scale(2.0);
}

.btn-wrap.submit {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
}

.btn-wrap.choose {
    width: 1120px;
    margin: 0 auto 20px;
}

.btn-wrap.submit button {
    /* 文字の太さをboldに指定 */
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;
    color: #fff;
    background: #0097FF;
    /* 背景色を濃い青色に指定 */
    /* 文字色を白色に指定 */
    /* ボーダーをなくす */

}

.post-list .article-list {
    padding: 20px 0;
}

.post-list .article-list li {
    font-size: 20px;
    line-height: 1.8;
}

