{% extends "base.html" %}

{% block metadata %}
{% load static %}
<link rel="stylesheet" href='{% static "news/css/news.css" %}'>
<link rel="stylesheet" href='{% static "news/css/news_edit.css" %}'>
{% endblock %}

{% block content %}
<main class="content">
    <div class="news-section">
        <h1>My Articles</h1>
        <section class="post-list">
            <ul class="article-list">
                {% for post in object_list %}
                <li>
                    <p><a href="{% url 'news:update' post.pk %}">{{ post.title }}</a></p>
                </li>
                {% empty %}
                <li class="no-post">
                    <p>No articles yet.</p>
                {% endfor %}
            </ul>
        </section>

        {% if is_paginated %}
        <section class="pagination">
            <ul>
                <li>
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;&lt; Prev</a>
                    {% else %}
                    &lt;&lt; Prev
                    {% endif %}
                </li>
                <li>
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next &gt;&gt;</a>
                    {% else %}
                    Next &gt;&gt;
                    {% endif %}
                </li>
            </ul>
        </section>
        {% endif %}
    </div>
</main>
{% endblock %}