{% extends "news_update.html" %}

{% load static %}

{% block content %}


<section>
    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.html_name == 'image' %}

                <!--
                <div style="position: relative;">
                    <canvas id="base_image" width="1680" height="1050" style="position: relative; z-index: 1;"></canvas>
                    <img id="update_image" style="position: absolute; top: 0; left: 0;" src="{% get_media_prefix %}/{{ field.value }}" alt="">
                </div>
                -->

                <div style="position: relative;">
                    <canvas id="base_canvas" width="1680" height="1050" style="position: relative; z-index: 1;"></canvas>
                    <canvas id="test_canvas"></canvas>
                    <img style="display: none;" id="base_image" style="position: absolute; top: 0; left: 0;" src="{% get_media_prefix %}/{{ field.value }}" alt="">
                </div>

                <div>
                    <canvas id="trimming_canvas" width="1680" height="1050"></canvas>
                </div>

                {{ field }}

                <script>



/*
                    var obj1 = document.getElementById("id_image");
                       obj1.addEventListener("change", function(evt){
                          var file = evt.target.files;
                          var reader = new FileReader();

                          //dataURL形式でファイルを読み込む
                          reader.readAsDataURL(file[0]);

                          //ファイルの読込が終了した時の処理
                          reader.onload = function(){
                            var dataUrl = reader.result;

                            //読み込んだ画像とdataURLを書き出す
                            document.getElementById("update_image").src = dataUrl;
                          }
                    },false);
*/

/*
                    const changeImage = document.getElementById("id_image");
                    changeImage.addEventListener("change", function(e){
                        const file = e.target.files;
                        const reader = new FileReader();


                        //dataURL形式でファイルを読み込む
                        reader.readAsDataURL(file[0]);


                        //ファイルの読込が終了した時の処理
                        reader.onload = function(){
                            const dataUrl = reader.result;

                            console.log(dataUrl);

                            //読み込んだ画像とdataURLを書き出す
                            document.getElementById("base_image").src = dataUrl;
                        }
                    },false);
*/


                </script>




<script>





class Canvas {
    constructor(_baseImageSrc) {
        this.baseImageSrc = _baseImageSrc;
        this.canvas = document.getElementById('base_canvas');
        this.ctx = this.canvas.getContext('2d');
        this.changeImageBtn = document.getElementById("id_image");
    }

    showImage() {
        const ctx = this.ctx
        const img = new Image();
        const self = this;

        img.src = this.baseImageSrc;
        this.ctx.drawImage(img, 0, 0);

        this.changeImageBtn.addEventListener("change", function(e){
            self.onFileSelected(this);
        },false);




    }



    onFileSelected(input) {
        console.log(this);
        const self = this;

        const file = input.files[0];
        const reader = new FileReader();
        reader.onload = this.onFileLoaded.bind(null, self);
        reader.readAsDataURL(file);
    }

    onFileLoaded(_self, e) {
        console.log(_self);
        const src_data = e.target.result;
        var img = new Image();
        var self = this


/*
        img.onload = this.onImageSetted;
        img.src = src_data;
        console.log(img.src);
*/
    }


    onImageSetted(e) {
        console.log(876);
/*
        var data = createImageData(e.target);
        document.getElementById('test_canvas').getContext('2d').putImageData(data, 0, 0);
*/
    }



    createImageData(img) {
        const cv = document.createElement('canvas');
        cv.width = img.naturalWidth;
        cv.height = img.naturalHeight;
        const ct = cv.getContext('2d');
        ct.drawImage(img, 0, 0);
        const data = ct.getImageData(0, 0, cv.width, cv.height);
        return data;
    }

}


class Clipper {

    constructor(_canvasArea) {
        this.canvasArea = _canvasArea;
        this.startX;
        this.startY;
        this.endX;
        this.endY;
        this.viewerList = [];
        this.canvas = document.getElementById('base_canvas');
        this.ctx = this.canvas.getContext('2d');
        this.ctx.strokeStyle = "blue";

        console.log(this.obj);
        /*
            if文 base_canvasがobjectもしくは文字列
        */

    }

    addViewer(obj) {
        this.viewerList.push(obj);
    }

    notifyViewers(_ctx, _startX, _startY, _endX, _endY) {
        this.viewerList.map(function(element) {
            element.update(_ctx, _startX, _startY, _endX, _endY);
        });
    }

    clipImage() {
        document.addEventListener("mousedown", (e) => {
            this.startX = this.getCoordinate(e.pageX, this.canvas.offsetLeft);
            this.startY = this.getCoordinate(e.pageY, this.canvas.offsetTop);
            document.addEventListener("mousemove", keyMove);
        });

        document.addEventListener("mouseup", (e) => {
            this.endX = this.getCoordinate(e.pageX, this.canvas.offsetLeft);
            this.endY = this.getCoordinate(e.pageY, this.canvas.offsetTop);
            this.drawRectangle(this.ctx);
            removeHandler();
            this.notifyViewers(this.ctx, this.startX, this.startY, this.endX, this.endY);
        });

        const keyMove = (e) => {
            this.endX = this.getCoordinate(e.pageX, this.canvas.offsetLeft);
            this.endY = this.getCoordinate(e.pageY, this.canvas.offsetTop);
            this.clearRectangle(this.ctx);
            this.canvasArea.showImage();
            this.drawRectangle(this.ctx);
        }

        const removeHandler = () => {
            document.removeEventListener("mousemove", keyMove);
        }

    }

    getCoordinate(_coordinateVal, _offsetVal) {
        return _coordinateVal - _offsetVal;
    };

    drawRectangle(_ctx) {
        _ctx.strokeRect(this.startX, this.startY, this.endX - this.startX, this.endY - this.startY);
    }

    clearRectangle(_ctx) {
        _ctx.clearRect(0, 0, this.canvas.clientWidth, this.canvas.clientHeight);
    }
}

class Viewer {

    constructor() {
        this.img = new Image();
        this.canvas = document.getElementById('trimming_canvas');
        this.ctx = this.canvas.getContext('2d');
    }

    update(clipperCtx, _startX, _startY, _endX, _endY) {
        const baseImageId = document.getElementById(clipperCtx.canvas.id);
        this.img.src = baseImageId.nextElementSibling.src;
        this.ctx.clearRect(0, 0, this.canvas.clientWidth, this.canvas.clientHeight);
        this.ctx.drawImage(this.img, _startX, _startY, _endX - _startX, _endY - _startY, 0, 0, _endX - _startX, _endY - _startY);
    }
}

const baseImage = document.getElementById('base_image');

const canvas1 = new Canvas(baseImage.src);
const clipper1 = new Clipper(canvas1);
const viewer1 = new Viewer();

canvas1.showImage();
clipper1.addViewer(viewer1);
clipper1.clipImage();

</script>




















            {% elif field.html_name == 'thumbnail' %}
                <img src="{% get_media_prefix %}/{{ field.value }}" alt="">
                {{ field }}
            {% elif field.html_name == 'created_date' %}
                <p>created_date</p>
            {% elif field.html_name == 'title' %}
                <p>{{ field.value }}</p>
            {% elif field.html_name == 'article' %}
                <p>{{ field.value }}</p>
            {% elif field.html_name == 'tags' %}
                <p>{{ field.value }}</p>
            {% endif %}
        {% endfor %}

        <button type="submit">Update</button>
    </form>
</section>
{% endblock %}

