{% extends "news_update.html" %}

{% load static %}

{% block content %}


<section>
    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.html_name == 'image' %}
                <!-- <img id="update_image" src="{% get_media_prefix %}/{{ field.value }}" alt=""> -->



                <div style="position: relative;">
                    <canvas id="base_image" width="1680" height="1050" style="position: relative; z-index: 1;"></canvas>
                    <img id="update_image" style="position: absolute; top: 0; left: 0;" src="{% get_media_prefix %}/{{ field.value }}" alt="">
                </div>
                <div>
                    <canvas id="trimming_image" width="1680" height="1050"></canvas>
                </div>

                {{ field }}

                <script>
                    var obj1 = document.getElementById("id_image");
                       obj1.addEventListener("change", function(evt){
                          var file = evt.target.files;
                          var reader = new FileReader();

                          //dataURL形式でファイルを読み込む
                          reader.readAsDataURL(file[0]);

                          //ファイルの読込が終了した時の処理
                          reader.onload = function(){
                            var dataUrl = reader.result;

                            //読み込んだ画像とdataURLを書き出す
                            document.getElementById("update_image").src = dataUrl;
                          }
                    },false);
                </script>




<script>


(function() {


/*
    var items = [1,2,3,4,5];

    var result = items.map(function( value ) {

        return value * 2;

    });

    console.log( result );
*/



})();



class Clipper {

    constructor(_name) {
        this.startX;
        this.startY;
        this.endX;
        this.endY;
        this.viewerList = [];
    }

    addViewer(obj) {
        this.viewerList.push(obj);
    }

    /*
    deleteViewer() {
        console.log(this.viewerList)
    }
    */

    notifyViewers() {
        console.log(this.viewerList);
        let _name = this.name
        this.viewerList.map(function(element) {
            element.update(_name);
        });
    }
/*
    getClipperStatus() {
        console.log(this.viewerList);
    }
*/



    clipImage() {

        const canvas = this.setCanvas();

        document.addEventListener("mousedown", (e) => {
            this.startX = this.getCoordinate(e.pageX, canvas.offsetLeft);
            this.startY = this.getCoordinate(e.pageY, canvas.offsetTop);
            document.addEventListener("mousemove", keyMove);
        });

        document.addEventListener("mouseup", (e) => {
            this.endX = this.getCoordinate(e.pageX, canvas.offsetLeft);
            this.endY = this.getCoordinate(e.pageY, canvas.offsetTop);
            console.log(this.endX, this.endY);
            const ctx = this.setRectangle(canvas);
            this.drawRectangle(ctx);
            removeHandler();
        });

        const keyMove = (e) => {
            this.endX = this.getCoordinate(e.pageX, canvas.offsetLeft);
            this.endY = this.getCoordinate(e.pageY, canvas.offsetTop);
            console.log(this.endX, this.endY);
            const ctx = this.setRectangle(canvas);
            this.clearRectangle(ctx);
            this.drawRectangle(ctx);
        }

        const removeHandler = () => {
          document.removeEventListener("mousemove", keyMove);
        }
    }

    setCanvas() {
        const canvas = document.getElementById('base_image');
        return canvas;
    }

    setRectangle(_canvas) {
        const ctx = _canvas.getContext('2d');
        ctx.strokeStyle = "blue";
        ctx.beginPath();
        return ctx;
    }

    getCoordinate(_coordinateVal, _offsetVal) {
        return _coordinateVal - _offsetVal;
    };

    drawRectangle(_ctx) {
        _ctx.strokeRect(this.startX, this.startY, this.endX - this.startX, this.endY - this.startY);
    }

    clearRectangle(_ctx) {
        _ctx.clearRect(0, 0, baseImage.clientWidth, baseImage.clientHeight);
    }
}

class Viewer {
    constructor(_name) {
        this.name = _name
    }

    update(_name) {
        console.log(_name);
    }
}

const baseImage = document.getElementById('base_image');


let clipper1 = new Clipper('太郎1');
let viewer1 = new Viewer('viewer1');
let viewer2 = new Viewer('viewer2');

clipper1.addViewer(viewer1);
clipper1.addViewer(viewer2);
clipper1.clipImage();

















/*
    let startX;
    let startY;
    let endX;
    let endY;

    document.addEventListener("mousedown", (e) => {
        let canvas = document.getElementById('base_image');

        startX = e.pageX - canvas.offsetLeft;
        startY = e.pageY - canvas.offsetTop;

        console.log(startX, startY);
        document.addEventListener("mousemove", keyMove);
    });

    document.addEventListener("mouseup", (e) => {
        console.log("up");

        drawSlice();

        removeHandler();
    });

    let keyMove = (e) => {
        console.log("move");
        let canvas = document.getElementById('base_image');
        let ctx = canvas.getContext('2d');

        endX = e.pageX - canvas.offsetLeft;
        endY = e.pageY - canvas.offsetTop;



        ctx.strokeStyle="blue";
        ctx.beginPath();
        ctx.clearRect(0, 0, 10000, 10000);
        ctx.strokeRect(startX, startY, endX - startX, endY - startY);


    }

    let removeHandler = () => {
      document.removeEventListener("mousemove", keyMove);
    }

    function draw() {
      var ctx = document.getElementById('base_image').getContext('2d');
      var img = new Image();
      img.onload = function(){
        ctx.drawImage(img, 0, 0);
      };
      img.src = 'profile.png';
    }

    function drawSlice() {
      var ctx = document.getElementById('trimming_image').getContext('2d');
      var img = new Image();
      // img.src = '{% get_media_prefix %}/{{ field.value }}';
      img.src = '{% get_media_prefix %}/{{ field.value }}';

      img.onload = function(){
        ctx.drawImage(img, startX, startY, endX - startX, endY - startY, 0, 0, endX - startX, endY - startY);
      };
      img.src = '{% get_media_prefix %}/{{ field.value }}';
    }
*/





</script>




















            {% elif field.html_name == 'thumbnail' %}
                <img src="{% get_media_prefix %}/{{ field.value }}" alt="">
                {{ field }}
            {% elif field.html_name == 'created_date' %}
                <p>created_date</p>
            {% elif field.html_name == 'title' %}
                <p>{{ field.value }}</p>
            {% elif field.html_name == 'article' %}
                <p>{{ field.value }}</p>
            {% elif field.html_name == 'tags' %}
                <p>{{ field.value }}</p>
            {% endif %}
        {% endfor %}

        <button type="submit">Update</button>
    </form>
</section>
{% endblock %}

